
<!-- templates/public/fragments/header.html -->
<div th:fragment="encabezado">
  <!-- Fuente Poppins solo para el header -->
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
  <header class="header-container">

    <!-- LOGO (izquierda) -->
    <div class="logo">
      <a th:href="@{/}">
        <!-- Si tienes un PNG ponlo en /static/images/logo.png -->
        <img src="public/imgs/fragments/logo.webp" alt="PetMach" class="logo-img" />
      </a>
    </div>

    <!-- BOTÓN HAMBURGUESA (solo móvil) -->
    <button class="menu-toggle" onclick="toggleMenu()">☰</button>

    <!-- MENÚ (centro) -->
    <nav class="nav-center" id="navMenu">
      <ul>
        <li class="login-item mobile-only">
          <a th:href="@{/login}" class="btn-login">Iniciar sesión</a>
        </li>
        <li><a th:href="@{/}">Inicio</a></li>
        <li><a th:href="@{/servicios}">Servicios</a></li>
        <li><a th:href="@{/contacto}">Contacto</a></li>
        <li><a th:href="@{/adopta}">Adopta</a></li>
      </ul>
    </nav>

    <!-- ACCIONES (derecha) -->
    <div class="user-actions">
      <a th:href="@{/login}" class="btn-login">Iniciar sesión</a>
    </div>
    
    <div class="user-actions">
      <a th:href="@{/registro}" class="btn-register">Registrarse</a>
    </div>

      <!-- Script externo -->
  <script th:src="@{/public/js/fragments/header.js}"></script>
  </header>
</div>
